*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(../images/background.jpg);
    background-size: 100%;
    background-attachment: fixed;

}



header{
    display: flex;
    justify-content: space-around;
}

header img{
    width: 120px;
}

header ul{
    display: flex;
    gap: 30px;
    margin-top: 25px;
}

header li{
    list-style-type: none;
    padding-left: 0;
    font-size: 25px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

/* Định dạng bảng */
.my-table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

/* Định dạng dòng chẵn */
.even-row {
    background-color: #ffffff; /* Màu nền trắng */
}

/* Định dạng dòng lẻ */
.odd-row {
    background-color: #a8e6cf; /* Màu nền xanh lục */
}

/* Định dạng các ô trong bảng */
.my-table td {
    text-align: center; /* Căn giữa nội dung trong ô */
    padding: 8px; /* Khoảng cách lề để tạo không gian xung quanh nội dung */
}

.table{
    padding:  50px 0;
    background-color: whitesmoke;
    width: 80%;
    margin: 50px auto;
    border-radius: 20px;
}