body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: 100%;
    background-attachment: fixed;

}

div img{
    width: 400px;
}

.form {
    background-color: white; /* Màu nền của form */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng cho form */
    width: 500px; /* Độ rộng của form */
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 10px); /* Chiều rộng của input trừ đi padding */
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #007bff; /* Màu nền của nút submit */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Màu nền khi hover nút submit */
}
