*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(../images/background.jpg);
    background-size: 100%;
    background-attachment: fixed;

}



header{
    display: flex;
    justify-content: space-around;
}

header img{
    width: 120px;
}

header ul{
    display: flex;
    gap: 30px;
    margin-top: 25px;
}

header li{
    list-style-type: none;
    padding-left: 0;
    font-size: 25px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

/* Định dạng bảng */
.my-table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

/* Định dạng dòng chẵn */
.even-row {
    background-color: #ffffff; /* Màu nền trắng */
}

/* Định dạng dòng lẻ */
.odd-row {
    background-color: #a8e6cf; /* Màu nền xanh lục */
}

/* Định dạng các ô trong bảng */
.my-table td {
    text-align: center; /* Căn giữa nội dung trong ô */
    padding: 8px; /* Khoảng cách lề để tạo không gian xung quanh nội dung */
}

.table{
    padding:  50px 0;
    background-color: whitesmoke;
    width: 80%;
    margin: 50px auto;
    border-radius: 20px;
}
h3 {
    margin: 0px 20px 10px 20px;
    text-align:center;
    font-size: 32px;
}

.row {
    margin: auto;
}

.row .col-md-3 {
    background-color: white;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
    vertical-align: middle;
}

.row .col-md-9 {
    width: 73.67%;
    border-radius: 5px;
    background-color: #d3f5e0;
    text-align: center;
}

img {
    width: 70%;
}

button {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #51ba54;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    margin-right: 50px;
}

button:hover {
    background-color: #45a049;
}

button a {
    color: white;
}

button:hover a {
    color: white;
}

.head {
    border-bottom: 1px solid #c9cacc;
    margin-bottom: 10px;
    max-width: 100%;
    padding: 0px 15px 0px 15px;
    text-align:left;
}

.head a {
    border-bottom: 3px solid #0f75bc;
    color: #024da1;
    font-size: 18px;
    line-height: 41px;
    padding: 5px 0 10px;
    text-decoration: none;
    margin-right:10px;
}

.info {
    background-color: white;
}

p {
    margin: 10px
}

.edit-section {
    display: none;
}
h4{
    margin: 20px 0px;
}